export ROOT=$PWD

eval $(docker-machine env consul-vault-cluster)
export DOCKER_MACHINE_IP="$(docker-machine ip $DOCKER_MACHINE_NAME)"
export MACHINE_STORAGE_PATH=~/.docker/machine

export CONSUL_IMAGE=consul-dev
export VAULT_IMAGE=vault-dev
export NGINX_CONSUL_TEMPLATE_IMAGE=nginx-consul-template-dev

export CONSUL_RPC_ADDR="$DOCKER_MACHINE_IP:8400"
export CONSUL_ADDR="$DOCKER_MACHINE_IP:8500"
export CONSUL_HTTP_ADDR="$DOCKER_MACHINE_IP:8500"
export CONSUL_SERVER_LEADER=$DOCKER_MACHINE_IP
export CONSUL_SERVER_OPTS=
export BOOTSTRAP_EXPECT=1
export COMPOSE_PROJECT_NAME=consul

export VAULT_ADDR="http://$DOCKER_MACHINE_IP:8200"
export VAULT_LB_VIRTUAL_HOST=example.com

export LETSENCRYPT_HOST=example.com
export LETSENCRYPT_EMAIL=me@example.com

export HOST_IP="$DOCKER_MACHINE_IP"