eval $(docker-machine env consul-vault-cluster)
export DOCKER_MACHINE_IP="$(docker-machine ip $DOCKER_MACHINE_NAME)"
export CONSUL_RPC_ADDR="$DOCKER_MACHINE_IP:8400"
export CONSUL_ADDR="$DOCKER_MACHINE_IP:8500"
export CONSUL_HTTP_ADDR="$DOCKER_MACHINE_IP:8500"
export VAULT_ADDR="http://$DOCKER_MACHINE_IP:8200"
export HOST_IP="$DOCKER_MACHINE_IP"